
.btn {
  border-radius: 0px;
  border: none;
  transition: @transition-basic;
  position: relative;
  z-index: 1;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;

  &:active, &:focus {
    box-shadow: none;
    outline: 0px;
  }

  &__main {
    height: 48px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    font-size: 14px;
    font-family: @Roboto;
    padding: 15px 21px;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    &:hover, &:focus {
      color: white;
    }

    &:hover {

    }

    &__text {
      vertical-align: top;
    }

    &__icon {
      vertical-align: top;
      margin-left: 6px;
      //margin-top: -1px;
      fill: transparent;
      stroke: white;
    }

    &--dark {
      background-color: @promo;

      &:hover {
        background-color: #122E52;
      }

      &[disabled]{
        background-color: @promo;
      }
    }

    &--light {
      background-color: @bright;

      &:hover {
        background-color: #D95300;
      }

      &[disabled]{
        background-color: @bright;
      }
    }

    &[disabled]{
      opacity: .5;

      &:hover {

      }
    }
  }
}




.bootstrap-select {
  outline: none !important;

  & > .dropdown-toggle {
    .head-h3;
    color: @promo !important;
    background-color: white;
    border: 2px solid #E9E9E9;
    padding: 9px 40px 12px 22px;
    //outline: none !important;


    &:focus {
      outline: none !important;


      &:active {
        border-color: #E9E9E9;
      }
    }

    &:active {
      background: white;

      &:focus {
        background: white;
      }
    }
  }

  .dropdown-menu {
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    border-color: #E9E9E9;

    li {
      width: 100%;
      margin-right: 0;

      a {
        outline: none;
      }
    }
  }

  .caret {
    border-top: 6px dashed @main;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    right: 23px !important;
  }

  &.open {
    & > .dropdown-toggle {
      box-shadow: none;
      background-color: white;
      border: 2px solid #E9E9E9;

      &:hover {
        background: white;
        border: 2px solid #E9E9E9;
      }

      &:focus {

      }
    }
  }
}
