
.pointer-promo {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid @promo;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background: white;
  transition: @transition-basic;
  stroke: #244775;
  stroke-width: 2;
  stroke-linecap: round;

  &:hover {
    background-color: @promo;
    border-color: @promo;
    stroke: white;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &--clear {
    border-color: transparent;
  }

  &--disabled {
    background-color: #E9E9E9;
    border-color: #E9E9E9;
  }

  &--right {
    transform: rotate(-90deg);
  }

  &--top {
    transform: rotate(180deg);
  }

  &--left {
    transform: rotate(90deg);
  }
}

.icon-mini {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid transparent;
  vertical-align: top;
  transition: @transition-basic;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &--blue {
    border-color: #244775;
    stroke: #244775;
    fill: #244775;
    stroke-width: 0.5;

    &:hover {
      background-color: #244775;
      stroke: white;
      fill: white;
    }
  }

  &--orange {
    border-color: #FF6600;
    stroke: #FF6600;
    fill: #FF6600;
    stroke-width: 0.5;

    &:hover {
      background-color: #FF6600;
      stroke: white;
      fill: white;
    }
  }

  &--green {
    border-color: #00CCCC;
    stroke: #00CCCC;
    fill: #00CCCC;
    stroke-width: 0.5;

    &:hover {
      background-color: #00CCCC;
      stroke: white;
      fill: white;
    }
  }

  &--close {
    width: 32px;
    height: 32px;
    border-color: #D3D3D3;
    stroke: #D3D3D3;
    fill: #D3D3D3;
    stroke-width: 0.5;

    &:hover {
      //background-color: #D3D3D3;
    }
  }
}

.dots {
  background-color: rgba(36, 71, 117, 0.3);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: @transition-basic;

  &:hover {
    background-color: #244775;
  }
}

.promo-warning {
  display: block;
  position: relative;
  border: 2px solid @bright;
  padding: 24px 143px 26px 76px;
  .head-h3;
  .text--light;
  @media(max-width: 550px){
    .head-h4;
    .text--light;
  }
  @media(@xs){
    padding: 19px 22px 16px 76px;
    min-height: 81px;
  }
  @media(max-width: 550px){
    padding: 8px 14px 7px 14px;
  }

  &__icon {
    position: absolute;
    top: 23px;
    left: 21px;
    fill: transparent;
    stroke: white;
    width: 34px;
    height: 31px;
    margin-right: 21px;
    @media(max-width: 550px){
      display: none;
    }
  }

  &__table {
    width: 100%;
    margin-top: 3px;
    @media(max-width: 550px){
      display: inline-block;
      width: 100%;
    }

    td {
      vertical-align: top;
      @media(max-width: 550px){
        display: block;
        text-align: left;
      }
    }

    &__price {
      padding-left: 20px;
      text-align: right;
      white-space: nowrap;
      @media(max-width: 550px){
        .head-h3;
        .text--bright;
        padding-left: 0;
        margin-top: 3px;
      }
    }
  }

  &__text {

    &--price {
      float: right;
    }
  }

  &--main {
    margin-bottom: 28px;
    @media(@xs){
      margin-bottom: 23px;
    }
    @media(max-width: 550px){
      margin-bottom: 15px;
    }
  }
}

.promo-download {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 64px;
  padding-bottom: 8px;
  @media(@xs){
    margin-top: 0px;
  }
  @media(max-width: 550px){
    text-align: center;
  }

  &__title {
    .head-h3;
    .text--light;
    display: inline-block;
    margin-top: 8px;

    @media(max-width: 550px){
      width: 100%;
      margin-bottom: 11px;
    }
  }

  &__button {
    list-style: none;
    padding: 0;
    float: right;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 17px;
      @media(@xs){
        margin-right: 0;
      }
      @media(max-width: 550px){
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
      }

      &:last-child {
        margin-right: 0px;
        @media(max-width: 550px){
          margin-bottom: 0;
        }
      }
    }
  }
}

.promo-drop {
  position: relative;
  display: block;
  margin: 0px -33px;

  &__icon {
    position: absolute;
    transform: translate(-50%, 0);
    top: -19px;
    left: 50%;

    &--active {
      .pointer-promo {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    display: none;
    overflow: hidden;
    padding: 62px 33px 46px 33px;
    background: #E9E9E9;
  }

  &__name {
    margin-bottom: 20px;
  }

  .promo-drop__icon--active + .promo-drop__content {
    display: block;
  }

  &--use {
    border-top: 1px solid #E9E9E9;

    @media(@xs){
      display: none;
    }
  }

  &--profile {
    margin-bottom: -24px;
    margin-top: 46px;
  }
}

.promo-use {
  .make-xs-column(24);
  float: none;
  width: auto;
  margin: 0 -8px;

  &__block {
    position: relative;
    background-color: white;
    height: 601px;
    @media(@xs){
      height: 508px;
    }

    &__wrapper {
      .make-xs-column(8);
      transition: @transition-basic;
      padding: 0px 8px;
      margin-bottom: 24px;
      @media(@xs){
        .make-xs-column(12);
        padding: 0px 8px;
      }
      @media(max-width: 500px){
        width: 100%;
      }

      &--history {
        @media(@xs){
          .make-xs-column(24);
          padding: 0px 8px;
          margin-bottom: 32px;
        }

        .promo-use__block {
          @media(@xs){
            background-color: transparent;
            height: auto;
          }
        }

        .promo-use__collapse {
          @media(@xs){
            display: none;
          }
        }
      }

      &--full {
        height: 100%;

        .promo-use__main {
          height: 100%;
          @media(@sm){
            padding: 29px 25px 34px 25px;
          }
          @media(@xs){
            padding-top: 21px;
          }
        }
      }
    }
  }

  &__collapse {
    position: absolute;
    top: 30px;
    right: 23px;
    z-index: 1;
    cursor: pointer;
    transition: @transition-basic;

    @media(@xs){
      top: 15px;
    }

    &:hover {
      transform: scale(1.2);
    }

    &.active {
      display: block;
    }

    &.hidden {
      display: none;
    }
  }

  &__tel {
    margin-top: 0;

    &__block {
      margin-top: 5px;
      margin-bottom: 18px;
    }
  }

  &__textarea {
    .head-h3;
    font-weight: 300;
    color: #979797;
    width: 100%;
    height: 288px;
    padding: 8px 14px;
    resize: none;
    @media(@xs){
      height: 220px;
    }
  }

  &__main {
    display: block;
    position: relative;
    padding: 30px 23px 32px 32px;
    border-bottom: 1px solid #D3D3D3;

    &:last-child {
      border-bottom: none;
    }

    @media(@sm){
      padding: 26px 60px 34px 17px;
    }

    &__wrapper {
      @media(max-width: 550px){
        float: left;
        display: inline-flex;
      }

      .promo-use__main {
        @media(@xs){
          width: 344px;
          margin-right: 16px;
          height: 275px !important;
          float: left;
          background-color: white;
          padding-top: 23px;
          padding-left: 24px !important;
          padding-right: 24px !important;
          border-bottom: none;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__box {
    margin-bottom: 7px;
    @media(@sm){
      margin-bottom: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--bottom {
      margin: 0;
      position: absolute;
      bottom: 31px;
      left: 0px;
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    .head-h2;
    .text--promo;
    line-height: normal;
    padding-right: 25px;
    margin-bottom: 25px;
    @media(@xs){
      margin-bottom: 7px;
    }

    &--history {
      padding: 30px 50px 0px 32px;
      margin-bottom: 0px;

      @media(@sm){
        padding: 30px 60px 0 17px;
      }
      @media(@xs){
        padding: 0px 0px 0 0px;
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    .head-h3;
    .text--normal;
    line-height: 24px;
    margin-top: -2px;
    margin-bottom: 21px;
  }

  ul {
    padding-left: 25px;
    line-height: normal;

    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .promo-use {
      &__main {
        margin-bottom: 0;

        &__wrapper {
          column-count: 2;
          column-gap: 16px;
          padding: 0px 32px;
          @media(@xs){
            column-count: auto;
            column-gap: 0px;
            padding: 0;
          }

          .promo-use__main {
            height: 300px;
            padding-left: 0px;
            padding-right: 0px;
            border-bottom: 1px solid #D3D3D3;
          }
        }
      }

      &__block {
        &__wrapper {
          .make-xs-column(12);
          padding: 0px 8px;

          &--history {
            .make-xs-column(24);
            padding: 0px 8px;

            .promo-use__block {
              @media(@xs){
                background-color: transparent;
              }
            }
          }
        }
      }

      &__textarea {
        height: 262px;
      }

      &__collapse {
        .active {
          display: none;
        }

        .hidden {
          display: block !important;
        }
      }

      &__title {
        &--simple {
          height: 96px;
        }
      }
    }
  }
}

.promo-general {
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 29px;
  @media(@xs){
    margin-bottom: 0;
  }

  .head-h2 {
    margin-bottom: 18px;
  }

  .head-h3 {
    margin-bottom: 11px;
  }

  a {

  }
}

.promo-fixed {
  position: fixed;
  z-index: 1;
  top: 300px;
  right: 0;
  padding: 12px 5px 0px 16px;
  text-transform: uppercase;
  width: 99px;
  height: 62px;
  border-radius: 15px 0px 0px 15px;
  background-color: #dcdcdc;
  text-align: left;
  color: #fff;

  &__title {
    .head-h4;
    color: white;
  }
}


