
.head-h1 {
  font-family: @RobotoCondensed;
  font-weight: bold;
  color: @main;
  font-size: 60px;
}

.head-h2 {
  font-family: @RobotoCondensed;
  font-weight: bold;
  color: @main;
  font-size: 30px;
}

.head-h3 {
  font-family: @Roboto;
  font-weight: bold;
  font-size: 18px;
  color: @main;
}

.head-h4 {
  font-family: @Roboto;
  font-weight: bold;
  font-size: 14px;
  color: @main;
}


.text--light {
  font-weight: 300;
}

.text--normal {
  font-weight: 400;
}

.text--promo {
  color: @promo;
}

.text--bright {
  color: @bright;
}

.text--bold {
  font-weight: bold;
}

.text--underline {
  text-decoration: underline;
}

.text--grey {
  color: @unname;
}


.promo-link {
  font-size: 18px;
  font-weight: 300;
  color: @promo;
  text-decoration: underline;

  &:hover, &:focus {
    color: @promo;
  }
}




.table {
  @media(@xs){
    background-color: white;
  }

  tr {
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  thead {
    font-size: 14px;
    color: @unname;
    font-weight: bold;

    tr {
      td {
        vertical-align: top;
        padding-bottom: 14px;
      }
    }
  }

  tbody {
    tr {
      td {
        border-top: 1px dashed #DADADA;
        padding-top: 16px;
        padding-bottom: 16px;
        line-height: 22px;
        @media(@xs){
          border-top: none;
        }
      }
    }
  }

  &--contracts {
    thead {
      tr {
        td {
          @media(@xs){
            padding: 24px 0 10px 24px !important;
          }
          @media(max-width: 650px){
            padding: 14px 0 10px 17px!important;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          @media(@xs){
            padding: 0px 15px 20px 24px !important;
          }
          @media(max-width: 650px){
            padding: 0 10px 17px 17px!important;
          }
        }
      }
    }

    tr {
      td {
        @media(@xs){

        }

        &:nth-child(1) {
          width: 144px;

          @media(@xs){

          }
        }

        &:nth-child(2){
          width: 229px;
          @media(@xs){
            width: auto;
          }
        }

        &:nth-child(3){
          width: 221px;
          @media(@xs){
            display: none;
          }
        }

        &:nth-child(4){
          width: 138px;
          white-space: nowrap;
          @media(@xs){
            display: none;
          }
        }

        &:nth-child(5){
          @media(@xs){
            display: none;
          }
        }

        &:nth-child(6){
          width: 87px;
          @media(@xs){
            display: none;
          }
        }
      }
    }
  }

  &--service {
    margin-bottom: 47px;
    @media(@sm){
      margin-bottom: 43px;
    }
    @media(@xs){
      margin-bottom: 23px;
    }
    @media(max-width: 650px){
      margin-bottom: 15px;
    }

    thead {
      tr {
        td {
          @media(@xs){
            padding: 24px 24px 10px 24px !important;
          }

          &:nth-child(2){
            @media(max-width: 6500px){
              display: none;
            }
          }

          &:nth-child(3){
            @media(max-width: 650px){
              display: none;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding-top: 14px;
          padding-bottom: 23px;

          @media(@xs){
            padding: 0px 0px 20px 24px !important;
          }

          &:nth-child(2){
            white-space: nowrap;
            @media(max-width: 650px){
              display: none;
            }
          }

          &:nth-child(3){
            //white-space: nowrap;
            @media(max-width: 650px){
              display: none;
            }
          }

          &:nth-child(4){
            white-space: nowrap;
            @media(@xs){
              padding-right: 24px !important;
            }
          }
        }
      }
    }

    tr {
      td {
        &:nth-child(1){
          width: 306px;
        }

        &:nth-child(2){
          width: 176px;
        }

        &:nth-child(3){

        }

        &:nth-child(4){
          width: 143px;
        }
      }
    }
  }

  &__info {
    thead {
      background-color: @promo;

      td {
        .head-h3;
        color: white;
        padding: 17px 32px 22px 32px !important;
      }
    }

    tbody {
      tr {
        &:nth-child(1){
          td {
            padding-top: 32px;
          }
        }

        &:last-child {
          td {
            padding-bottom: 39px;
          }
        }

        td {
          .head-h3;
          line-height: normal;
          padding-top: 10px;
          padding-bottom: 9px;
          background-color: #fff;
          border: none;

          &:nth-child(1){
            padding-left: 32px;
          }

          &:nth-child(2){
            padding-right: 32px;
            font-weight: 300;
            width: 50%;
          }
        }
      }
    }
  }
}


.stacktable {
  &.small-only {
    display: none;
    @media(max-width: 650px){
      display: block;
    }
  }

  &.large-only {
    @media(max-width: 650px){
      display: none;
    }
  }

  tbody {
    @media(max-width: 650px){
      display: block;
    }

    tr {
      @media(max-width: 650px){
        display: block;
      }

      th {
        @media(max-width: 650px){
          border-top: none;
          display: block;
          padding: 0px 0px 0px 0px;
        }
      }

      td {
        @media(max-width: 650px){
          display: block;
        }

        &.st-key {
          @media(max-width: 650px){
            padding: 21px 0px 1px 0px;
            line-height: normal;
          }
        }

        &.st-val {
          @media(max-width: 650px){
            padding: 0px 0px 1px 0px;
            line-height: normal;
          }
        }
      }
    }
  }
}


.table-fresh {
  &__head {
    .head-h4;
    color: white;
    font-weight: 300;
    display: table;
    width: 100%;
    background-color: @promo;
    padding: 22px 30px 22px 33px;

    @media(@xs){
      display: none;
    }
  }

  &__body {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    @media(@xs){
      width: auto;
      margin: 0px -10px;
    }
  }

  &__row {
    display: table;
    width: 100%;
    
    @media(@xs){
      background-color: #fff;
      float: left;
      padding: 15px 20px;
    }
  }

  &__box {
    padding: 20px 30px 25px 33px;
    margin-bottom: 0;
    background-color: #fff;

    &:nth-child(even){
      background-color: #ECEBEB;
      @media(@xs){
        background-color: transparent;
      }
    }

    @media(@xs){
      float: left;
      padding: 0px 10px;
      width: 50%;
      background-color: transparent;
      margin-bottom: 20px;
    }

    @media(max-width: 650px){
      width: 100%;
    }
  }

  &__cell {
    display: table-cell;
    vertical-align: top;
    @media(@xs){
      width: 100% !important;
      display: inline-block;
      margin-bottom: 10px;
    }

    &:nth-child(1){
      width: 96px;
    }

    &:nth-child(2){
      width: 96px;
    }

    &:nth-child(3){
      width: 153px;
    }

    &:nth-child(4){
      width: 125px;
    }

    &:nth-child(5){
      width: 133px;
    }

    &:nth-child(6){
      width: 115px;
    }

    &:nth-child(7){
      width: 95px;
    }

    &:nth-child(8){
      width: 97px;
    }

    &:nth-child(9){

    }
  }

  &--services {
    .table-fresh {
      &__cell {
        &:nth-child(4){
          width: 326px;
        }
      }
    }
  }
}