
.head-h1 {
  font-family: @RobotoCondensed;
  font-weight: bold;
  color: @main;
  font-size: 60px;
}

.head-h2 {
  font-family: @RobotoCondensed;
  font-weight: bold;
  color: @main;
  font-size: 30px;
}

.head-h3 {
  font-family: @Roboto;
  font-weight: bold;
  font-size: 18px;
  color: @main;
}

.head-h4 {
  font-family: @Roboto;
  font-weight: bold;
  font-size: 14px;
  color: @main;
}


.text--light {
  font-weight: 300;
}

.text--normal {
  font-weight: 400;
}

.text--promo {
  color: @promo;
}

.text--bright {
  color: @bright;
}

.text--underline {
  text-decoration: underline;
}

.text--grey {
  color: @unname;
}


.promo-link {
  font-size: 18px;
  font-weight: 300;
  color: @promo;
  text-decoration: underline;

  &:hover, &:focus {
    color: @promo;
  }
}




.table {
  tr {
    td {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  thead {
    font-size: 14px;
    color: @unname;
    font-weight: bold;

    tr {
      td {
        vertical-align: top;
        padding-bottom: 14px;
      }
    }
  }

  tbody {
    tr {
      td {
        border-top: 1px dashed #DADADA;
        padding-top: 16px;
        padding-bottom: 16px;
        line-height: 22px;
      }
    }
  }

  &--contracts {
    tr {
      td {
        &:nth-child(1) {
          width: 144px;
        }

        &:nth-child(2){
          width: 229px;
        }

        &:nth-child(3){
          width: 221px;
        }

        &:nth-child(4){
          width: 138px;
          white-space: nowrap;
        }

        &:nth-child(6){
          width: 87px;
        }
      }
    }
  }

  &--service {
    margin-bottom: 47px;

    tbody {
      tr {
        td {
          padding-top: 14px;
          padding-bottom: 22px;
        }
      }
    }

    tr {
      td {
        &:nth-child(1){
          width: 306px;
        }

        &:nth-child(2){
          width: 176px;
        }

        &:nth-child(3){

        }

        &:nth-child(4){
          width: 143px;
        }
      }
    }
  }
}
